*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Stella';
}
body::-webkit-scrollbar {
    display: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width:100%;
    z-index: 10;
    
}
header nav {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
header .logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:4rem;
    margin-right: 1rem;
}
.logo p{
    font-size: 5vh;
    color: #EAE7E8;
}
nav ul{
    display: flex;
    
}
nav ul li{
    margin-left: 2rem;
    list-style: none;
}
nav ul li a{
    color: #EAE7E8;
    text-decoration: none;
    font-size:1.8vw;
}
nav ul li a:hover{
    color:#FF8C00;
    text-decoration: none;
    font-size:1.8vw;
}
/* section one */
.section-one .section-cover{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0;
    height: 100vh;
    background-image: url(img/4-min.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: brightness(50%);
    z-index: 1;
}
.section-one .container{
    width:80%;
    height:100%;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    color: #EAE7E8;
    z-index: 1;
}
.section-one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-one .container .text .title{
    font-size: 5vw;
}
.section-one .container .text{
    width:60%;
}
.section-one .container .text .description{
    font-size: 3vw;
}

.button{
    background:#FF8C00;
    width:20%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin-top: 1rem;
    transition: transform .2s;
}
.button:hover{
    background:#d17300;
    transform: scale(1.1);
}
.button p{
    color: black;
    font-size:3vw;
    transition: color .2s;
} 
.button:hover> p{
    color: #EAE7E8;
}
.section-one .container img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    width: 2rem;
    margin-bottom: 1rem;
    bottom: 0;
}
/* -------section two------------*/
.section-two{
    height:100vh;
    padding: 1rem 0rem;
}
.wrapper{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-gap: 1em;
}
.wrapper div{
    padding:1rem;
}
.img1{
    color: #FF8C00;
    grid-column: 1/4;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .img1 .wrapper>p{
    font-size:3vw;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items:center;
}
.img1 .wrapper{
    display: inline;
    justify-content:center;
    align-items:center;
    padding-bottom: -10px;
}
.img1 img{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 2rem;
  display: grid;
  align-content: start;
} */

.img2{
    grid-column:4/6;
    grid-row: 1/3;
    background-image: url(img/18-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
}
.img3{
    grid-column:6/8;
    background-image: url(img/14-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
}
.img4{
    background-image: url(img/11-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
    
}
.img5{
    grid-column: 2/4;
    background-image: url(img/12-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
}
.img6{
    background-image: url(img/13-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
    
}
.img7{
    background-image: url(img/10-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
    grid-column: 7/8;
    grid-row: 2/4;
    
}
.img8{
    background-image: url(img/16-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
    grid-column: 1/3;
    
}
.img9{
    background-image: url(img/15-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
    grid-column: 3/5;
    
}
.img10{
    grid-column: 5/7;
    background-image: url(img/17-min.jpg);
    background-size:cover;
    filter: grayscale(.4);
}

/* -------section three-------- */
.section-three .section-cover{
    position: absolute;
    z-index:1;
    width:100%;
    height:100vh;
    background-image: url(img/1-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    display: flex;
    filter: brightness(50%);
    justify-content: center;
    align-items: center;
}
.section-three .container{
    padding-top:2rem;
    z-index: 2;
    position: relative; 
    width: 100%;
    height:100vh;
    bottom: 0;
    padding-left: 15%;
    
}
.section-three .container> p{
    color: white;
    font-size:3vw;
    transform: translateX(-10%);
    display: flex;
    justify-content: center;
}
.section-three .container> .maps{
    margin-top: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    width:60%;
    margin-left:10%;
}


#googleMap{
    height:80%;
}
.section-three .container .button{
    background:#FF8C00;
    font-size:.2vw;
    margin-left:10%;
}
/* -------section four-------- */
.section-four{
    height:100vh;
    align-items: center;
    display: flex;
    justify-content:space-around;
}.section-four .title p{
    font-size:3vw;
    display:flex;
    justify-content:center;
    background: white;
}
.section-four .container{
    align-items: center;
    display: block;
    justify-content:space-around;
    width:53%;
    height:80vh;
}
.section-four .form-wrapper{
    position: relative;
    height: 70%;
}
.section-four .form-background{
    background-size: cover;
    filter: saturate(2);
    height: 100%;
    width:100%;
    z-index: -1;
    background-image: url(img/2-min.jpg);
    position: absolute;
}
.section-four .form-wrapper .button{
    z-index:4;
}


/* input animation */
.form{
    width:50%;
    position:relative;
    height:50px;
    overflow: hidden;
}
.form input{
    background: none;
    width:100%;
    height:100%;
    padding-top: 20px;
    border: none;
    outline: none;
    
}
.form label{
    color: #EAE7E8;
    position:absolute;
    bottom:0px;
    left:0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #FF8C00;
    
}
.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom:-1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #FF8C00;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    
}
.content-name{
    position:absolute;
    bottom:0px;
    left:0px;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name{
    transform:translateY(-150%);
    font-size: 14px;
    border: none;
    color: #FF8C00;
    
    
}
.form input:focus + .label-name::after, .form input:valid + .label-name::after{
    transform:translateX(0%);
    visibility:visible;
}
/* section five */


.section-five{
    position: relative;
    height:60vh;
    background-image: url(img/4-min.jpg);
    filter: brightness(50%);
    background-size: cover;
    bottom: 0;
}
footer{
    height: 10vh;
    width: 100%;
    background: black;
    top: 100%;
    color: #EAE7E8;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}










