*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Stella';
}
body::-webkit-scrollbar {
    display: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width:100%;
    z-index: 2;
    
}
header nav {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
}
header .logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:4rem;
    margin-right: 1rem;
}
.logo p{
    font-size: 5vh;
    color: #EAE7E8;
}
nav ul{
    display: flex;
    
}
nav ul li{
    margin-left: 2rem;
    list-style: none;
}
nav ul li a{
    color: #EAE7E8;
    text-decoration: none;
    font-size:1.8vw;
}
nav ul li a:hover{
    color:#FF8C00;
    text-decoration: none;
    font-size:1.8vw;
}
/* section one */
.section-one .section-cover{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:0;
    height: 100vh;
    background-image: url(img/4.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: brightness(50%);
    z-index: 1;
}
.section-one .container{
    width:80%;
    height:100%;
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    color: #EAE7E8;
    z-index: 1;
}
.section-one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-one .container .text .title{
    font-size: 5vw;
}
.section-one .container .text{
    width:60%;
}
.section-one .container .text .description{
    font-size: 3vw;
}

.button{
    background:#FF8C00;
    width:20%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin-top: 1rem;
    transition: transform .2s;
}
.button:hover{
    background:#d17300;
    transform: scale(1.1);
}
.button p{
    color: black;
    font-size:3vw;
    transition: color .2s;
} 
.button:hover> p{
    color: #EAE7E8;
}
.section-one .container img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    width: 2rem;
    margin-bottom: 1rem;
    bottom: 0;
}
/* -------section two------------*/
.section-two{
    height:100vh;
    padding: 1rem 0rem;
    background: rgb(211, 211, 15);
}
.section-two .top{
    display: flex;
}
.section-two .top .first{
    width:25vw;
    height:18rem;
    background: red;
}
.section-two .top .second{
    width:40vw;
    height:33rem;
    background: blue;
    margin-left: 1rem;
}
.section-two .top .third{
    margin-left: 1rem;
    width:35vw;
    height:20rem;
    background: blueviolet;
}

/* -------section three-------- */
.section-three{
    width:100%;
    height:100vh;
    background-image: url(img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-three .container{
    width: 80%;
    height:20%;
    justify-content: space-around;
    background: red;
}
.section-three .container> p{
    display: flex;
    justify-content: center;
}
.section-three .container> .maps{
    display: flex;
    justify-content:center;
    align-items: center;
    width:80%;
    height:30%;
}

#googleMap{
    justify-content: space-around;
    width:50%;
    height:50vh;
}
/* -------section four-------- */
.section-four{
    height:100vh;
    background: rgb(211, 15, 146);
}
.section-five{
    height:100vh;
    background: rgb(15, 165, 211);
}










